{lib_dirs,["lib"]}.

{erl_opts, [{i, "include"}]}.

{deps_dir, ["lib"]}.

{deps, [
	{'elog', ".*", {git, "git://github.com/erylee/elog.git", {branch, "master"}}},
	{'sqlite3', ".*", {git, "git://github.com/erylee/erlang-sqlite3.git", {branch, "master"}}},
	{'extlib', ".*", {git, "git://github.com/erylee/extlib.git", {branch, "master"}}},
	{'mochiweb', ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}} 
]}.

{sub_dirs, ["rel"]}.
