[{kernel, 
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "var/log/errdb_sasl.log"}}]},
 {errdb,
	[{rrdb, [{cache, 24}, {dir, "./var/rrdb/"}]},
    {journal, [{dir, "./var/journal/"}, {buffer, 100}]},
    {socket, [{ip, "0.0.0.0"}, {port, 5888}, {max, 1000}]},
    {httpd, [{ip, "0.0.0.0"}, {port, 8000}, {max, 1000}]}]}
].
