[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/errdb_sasl.log"}}]},
 {evmon, [
	{vm_memory_high_watermark, 0.4},
	{proc, [{long_gc, 500}, {large_heap, 10000000}, busy_port]}
 ]}
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/errdb_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/errdb_info.log", info, 20485760, "$D0", 5},
			{"log/errdb_error.log", error, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {errdb,
	[{pool_size, 8},
	{rrdb, [
        {vnodes, 20}, {cache, 12}, {timeout, 48}, {dir, "var/data"},
        {journal, [{dir, "var/journal"}, {buffer, 200}]}
    ]},
    {socket, [{ip, "0.0.0.0"}, {port, 7272}]},
    {httpd, [{ip, "0.0.0.0"}, {port, 8080}]}]}
].
