[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/errdb_sasl.log"}}]},
 {errdb,
	[{pool_size, 8},
	{rrdb, [
        {cache, 12}, {dir, "./var/rrdb/"},
        {journal, [{dir, "./var/journal/"}, {buffer, 200}]}
    ]},
    {socket, [{ip, "0.0.0.0"}, {port, 7272}]},
    {httpd, [{ip, "0.0.0.0"}, {port, 8000}]}]}
].
