{sys, [
	  {lib_dirs, ["../..", "../lib"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "errdb", "2.0",
        [
         kernel,
         stdlib,
         sasl,
		 crypto,
		 compiler,
		 inets,
		 ssl,
		 public_key,
         xmerl,
         syntax_tools,
         mochiweb,
		 elog,
		 extlib,
		 sqlite3,
         errdb
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "errdb"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
	   {app, ssl, [{incl_cond, include}]},
	   {app, public_key, [{incl_cond, include}]},
	   {app, xmerl, [{incl_cond, include}]},
	   {app, syntax_tools, [{incl_cond, include}]},
	   {app, mochiweb, [{incl_cond, include}]},
	   {app, elog, [{incl_cond, include}]},
       {app, extlib, [{incl_cond, include}]},
       {app, sqlite3, [{incl_cond, include}]},
       {app, errdb, [{incl_cond, include}]}
      ]}.

{target_dir, "errdb"}.

{overlay, [
           {mkdir, "log/"},
           {mkdir, "var/"},
           {mkdir, "var/data"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/errdb", "bin/errdb"},
           {copy, "files/sys.config", "etc/app.config"},
           {copy, "files/errdb.cmd", "bin/errdb.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
